
@font-face {
  font-family: 'Poppins-Regular';
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url(../fonts/Poppins-SemiBold.ttf);
}
body {
  overflow-x: hidden;
  font-family: "Poppins-Regular";
}
::-moz-selection { /* Code for Firefox */
  color: #FFF;
}

::selection {
  color: #FFF;
}

.fixed-top{
  position: absolute;
}
.f20{
  font-size: 20px;
}
.f40{
  font-size: 40px;
}
.brd-cum{
  color: #434343;
}
p {
  line-height: 1.75;
  font-size: 15px;
}

a {
  color: #434343;
}

a:hover {
  color: #434343;
  text-decoration: none;
}

.text-primary {
  color: #ee4537 !important;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Poppins-SemiBold';
}

.page-section {
  padding: 40px 0;
}

.section-heading {
  color: #ee4537;
  margin-top: 20px;
  margin-bottom: 20px;
}

::-moz-selection {
  background: #ee4537;
  text-shadow: none;
}

::selection {
  background: #ee4537;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
.logo{
  width: 150px;
}
.mt80{
  margin-top: 80px;
}
.bg-white{
  background-color: #FFF;
}
.bg-red{
  background-color: #ee4537;
}
.btn-primary {
  background-color: #ee4537;
  border: none;
  border-radius: 0px;
}
.btn-primary i{
  display: none;
}
.btn-primary:hover i{
  display: inline-flex;
}
.bg-light {
  background-color: #F2F2F2!important;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #ee4537 !important;
  color: white;
  border: none;
}
.service-area{
  padding: 10px;
  box-shadow: 0px 0px 10px #0000001A;
  border-radius: 7px;
  opacity: 1
}
.service-link{
  color: #000;
  text-decoration: none;
}
.service-link:hover{
  color: #fff;
  text-decoration: none;
}
.service-area:hover{
  background-color: #ee4537;
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #ee4537;
}

#mainNav .navbar-brand {
  color: #FFF;  
  font-weight:bold;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #FFF;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 1px solid;
}

@media (min-width: 992px) {
  #mainNav {
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    margin: 1.1em .7em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../images/banners/banner.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: right;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 54px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    
  }
}


/*About us*/

header.aboutus {
  text-align: center;
  color: white;
  background-image: url("../images/banners/aboutus.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.aboutus .intro-text {
  padding-top: 180px;
  padding-bottom: 50px;
}

header.aboutus .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}

header.aboutus .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  
}

@media (min-width: 768px) {

  header.aboutus .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header.aboutus .intro-text .intro-heading {
    font-size: 45px;
    font-weight: 700;
    line-height: 75px;
    text-align: left;    
  }
}

/*Product*/
header.products {
  text-align: center;
  color: white;
  background-image: url("../images/banners/products.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.products .intro-text {
  padding-top: 180px;
  padding-bottom: 50px;
}

header.products .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}

header.products .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  
}

@media (min-width: 768px) {

  header.products .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header.products .intro-text .intro-heading {
    font-size: 45px;
    font-weight: 700;
    line-height: 75px;
    text-align: left;    
  }
}


/*Automotive*/
header.automotive {
  text-align: center;
  color: white;
  background-image: url("../images/banners/automotive.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.automotive .intro-text {
  padding-top: 150px;
  padding-bottom: 120px;
}

header.automotive .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}

header.automotive .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  
}

@media (min-width: 768px) {

  header.automotive .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header.automotive .intro-text .intro-heading {
    font-size: 45px;
    font-weight: 700;
    line-height: 75px;
    text-align: left;    
  }
}

.indus-bg{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 49%, rgba(249,249,249,1) 49%);
}
.indus-bg2{
  background: rgb(249,249,249);
  background: linear-gradient(90deg, rgba(249,249,249,1) 49%, rgba(255,255,255,1) 49%);
}

.banner-txt{
  font-size: 14px;
  text-align: left;
}
.text-left{
  text-align: left;
}
.product-txt{
  font-weight: bold;
  color: #8c8686;
}
.brd-lft{
  border-left: 2px solid #dfdfdf;
}
.lbl-txt{
  font-size: 12px;;
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
.founder{
  font-weight: bold;
  color: #ee4537;
  text-decoration: underline;
}

section#why-murphy {
  background-color: #212529;
  background-image: url("../images/why-murphy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section#vision .section-heading {
  color: #fff;
}
section#vision {
  background-color: #212529;
  background-image: url("../images/aboutus/vision.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.testim-txt{
  color: #FFF;
}
section#why-murphy .section-heading {
  color: #fff;
}
.gr-clr{
  color: #8c8686;
}
.img-thumbnail {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0rem;
  max-width: 100%;
  height: auto;
}
.heading-txt{
  max-width: 45px;
  border-bottom: 5px solid #ee4537;
  margin-top: 20px;
  margin-bottom: 20px;
}
.txt-undline{
  border-bottom: 5px solid #ee4537;
}
.custom-pedding{
  padding:0px 20px 0 180px;
}
.mt-50{
  margin-top: -50px;
}
.why-tag{
  color:#FFF;
  font-weight: 400;
  line-height: 1.2;
}
.why-tag:hover{
  color: #FFF;
  text-decoration: none;
}
.sevice-box{
  box-shadow: 0px 0px 10px #0000001A;
  padding:30px 0px;
  margin: 5px;
}
.indus-box{
  box-shadow: 0px 0px 10px #0000001A;
}
.testim-box{
  box-shadow: 0px 0px 10px #0000001A;
  min-height: 290px;
}
.enq-box{
  box-shadow: 0px 0px 10px #0000001A;
  margin:0px 100px;
}
.contact-box{
  box-shadow: 0px 0px 10px #0000001A;
}
.mg-ctm{
  margin-top: 30px;
}
.num-bold{
  font-weight: bold;
  font-size: 40px;
  color: #ee4537;
}
.hr{
  margin:auto;
}
.footer {
  background-color: #DFDFDF;
}
.clr-red {
  color: #ee4537;
}
.clr-wht{
  color: #FFF;
}
.logo-footer{
  color: #ee4537;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Poppins-SemiBold';
}
.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;

}
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;  /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;  /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
  }
  /* show 2 items */
  .carousel-inner .active + .carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/* MD */
@media (min-width: 768px) {
  /* show 3rd of 3 item slide */
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* right or prev direction */
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/* LG */
@media (min-width: 991px) {
  /* show 4th item */
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }
  /* Show 5th slide on lg if col-lg-3 */
  .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;  /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* right or prev direction //t - previous slide direction last item animation fix */
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}
.carousel-indicators .active{
  background-color: #ee4537 !important;

}
.carousel-title{
  background-color: #ee4537;
  color: #fff;
  margin:0px 17px;
  padding:5px 5px;
  margin-top: -16px;
  font-size: 14px;
}
.carousel-indicators{
  bottom: -65px;
}
.carousel-control-prev {
  left: -80px;
}
.carousel-control-next {
  right: -80px;
}

@media (max-width: 1199px) {
  .carousel-control-prev {
    left: -40px;
  }
  .carousel-control-next {
    right: -40px;
  }
  .carousel-title{
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .carousel-control-prev {
    left: -25px;
  }
  .carousel-control-next {
    right: -25px;
  }
}
@media (max-width: 480px) {
  .carousel-control-prev {
    left: 0px;
  }
  .carousel-control-next {
    right: 0px;
  }
}
.carousel-control-prev-icon {
  background-image: url(../images/left.png);
}
.carousel-control-next-icon {
  background-image: url(../images/right.png);
}

.enayble{
  color: #ee4537;
  font-weight: 500;
}

.social-icon{
  font-size: 20px;
  border: 1px solid;
  padding: 2px 8px;
  border-radius: 26px;
}
.drd-menu{
  border-radius: 0px;
  min-width: 130px;
  font-size: 14px;
}
.dropdown-item{
  padding: .25rem 1rem;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #ee4537;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: #ee4537;
  color: #fff;
}


@media (max-width: 991px) {
  .custom-pedding{
    padding: 0px 20px 0px 50px;
  }
  .enq-box{
    margin:0px;
  }
}

input::-webkit-input-placeholder {
  font-size: 12px;
}

/*.select-area {
  background-image:
  linear-gradient(45deg, transparent 50%, red 60%),
  linear-gradient(135deg, red 40%, transparent 50%) !important;
  background-position:
  calc(100% - 30px) 14px,
  calc(100% - 20px) 14px,
  100% 0;
  background-size:
  10px 10px,
  10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  }*/

  select.select-area {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    padding-left: 30px;
    height: 45px;
  }
  select.filter-area {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    padding-left: 30px;
    height: 45px;
    border: none;
    box-shadow: 0px 0px 10px #00000038;
    border-radius: 0;
  }

  .option-txt{
    color: #b9b5b5;
  }

  select + i.fa {
    float: right;
    margin-top: -33px;
    margin-right: 20px;
    pointer-events: none;
    background-color: #fff;
    padding-right: 5px;
    color: #DFDFDF;
  }
  .btn-download{
    height: 42px;
    width: 160px;
    font-weight: bold;
    border-radius: 6px;
  }
  .download-btn{
    background-color: #ee4537;
    font-size: 12px;
  }
  .download-btn:hover{
    color: #FFF;
  }
  .map-responsive{
    overflow:hidden;
    padding-bottom:41.25%;
    position:relative;
    height:0;
  }
  .map-responsive iframe{
    left:0;
    top:0;
    width:100%;
    position:absolute;
  }
  .filter{
    border: 2px solid #c63727;
    padding: 0px 14px;
    border-radius: 26px;
  }
  @media (min-width: 768px) and (max-width: 991px){
    .social-icon {
      font-size: 15px;
      border: 1px solid;
      padding: 1px 4px;
      border-radius: 26px;
    }
  }

  .ups-img{
    width:250px;
    min-height: 100px;
  }